/* Price Points Admin */
img.mp-icon{
	vertical-align: middle;
}
h2.header {
	padding-top:3px;
}
div.mp-wrap {
	width:800px;
}
table#price-points {
	margin:0 auto;
	width:530px;
}
table#price-points tr th {
	text-align:left;
}
table#price-points tr td {
	padding:5px 0;
}

/* Account Info Admin */
table#dynamic-variables {
	border:1px solid #000;
}
table#dynamic-variables tr th {
	text-align:left;
}
table#dynamic-variables tr td, 
table#dynamic-variables tr th {
	border:1px solid #000;
	padding:5px;
}

/* Summary Report */
table#earning-summary,
table#stats {
	width:300px;
	margin-bottom:20px;
	border-bottom:1px solid #eee;
}
table#earning-summary {
	margin-top:15px;
}
table#earning-summary tr th,
table#stats tr th {
	background-color:#eee;
	padding:5px 15px;
	text-align:left;
}
table#earning-summary tr td,
table#stats tr td {
	padding:5px 15px;
}
select#period {
	height:auto;
	padding:0;
}

/* Network Sites */
table#network-sites {
	border-collapse: collapse;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	width:100%;
}

table#network-sites th {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #CCC;
	border-left:1px solid #ccc;
}

table#network-sites td {
	padding: 5px;
	border-bottom: 1px solid #CCC;
	border-left:1px solid #ccc;
}